body {
  overflow-x: hidden;
}

// Main Navigation
#nav--main {
  background: rgba(250, 250, 250, 1);
  border-bottom: 4px solid $brand-light-tan;

}
.navbar-brand {
  width: 125px;

  @include media-breakpoint-up(sm) {
    width:200px;
  }

}
.navbar #main-menu {
  float: none;
  margin-top:20px;
  text-align: center;

  @include media-breakpoint-up(sm) {
    text-align: left;
    float: right;
  }

  li a {
    color: lighten($brand-grey, 30);
    font-family: 'Cinzel', serif;
    font-size: 1.3rem;
    padding: 5px 15px;

    &:hover {
      color: $brand-grey;
    }

  }

  li.active a {
    border-bottom: 4px solid $brand-green;
    color: $brand-grey;
    font-weight: bold;
  }

}

.navbar-toggler {
  border:3px solid $brand-tan;
  border-radius: 0;
  background-color: none;
  color: $brand-grey;
  float: right;
  margin-top:10px;

  &:focus {
    outline: 0;
  }
}

// Button styles
.btn {

  font-family: 'Cinzel', serif;

  &.btn-default {
    border:3px solid $brand-tan;
    border-radius: 0;
    background-color: none;
    color: $brand-grey;

    &:hover {
      background-color: $brand-tan;
    }

  }

  &.btn-inverse {
    color: white;
  }

}

// Custom divider
hr {
  border-top: 4px solid lighten($brand-tan, 10);
  margin-top:7rem;
  margin-bottom: 2rem;
  position: relative;
  clear: both;

  &:before {
    content:"";
    background-image: url(/wp-content/themes/bryans-wordpress-theme/images/divider.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 15px;
  }

}

p {
  line-height: 2;
}

// Images
.entry-content, .featured-item {
  img {
    border:4px solid $brand-tan;
    padding: 5px;

    &.alignleft {
      float:none;

      @include media-breakpoint-up(sm) {
        float:left;
        margin-right: 30px;
      }
    }

    &.alignright {
      float: none;

      @include media-breakpoint-up(sm) {
        float:right;
        margin-left: 30px;
      }
    }

  }
}

.img-featured {
      margin-bottom: 30px;
}

// Images with captions
.entry-content {
  figure.wp-caption {

    &.alignleft {
      float:none;

      @include media-breakpoint-up(sm) {
        float:left;
        margin-right: 30px;
      }
    }

    &.alignright {
      float: none;

      @include media-breakpoint-up(sm) {
        float:right;
        margin-left: 30px;
      }
    }

    .wp-caption-text {
      font-size: .9rem;
      font-style: italic;
    }

  }
}

#page-wrapper {
  background-image: url(/wp-content/themes/bryans-wordpress-theme/images/old-parchment.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  padding: 30px;

  @include media-breakpoint-up(sm) {
    padding: 30px 0;
    background-attachment: fixed;
  }

}

// Page content
#content {
  max-width: 850px;
}

// Footer widget section
#wrapper-footer-full {
  background-color: white;
}


// Footer contact info section
#wrapper-contact-info {

  .navbar-brand {
    display: block;
    float: none;

    img {
      width: 150px;
    }

  }

  h3 {
    font-size: 1.4em;
    margin-top: 50px;

    @include media-breakpoint-up(sm) {
      margin-top: 0;
    }

  }

  .mabel-bhi-businesshours {
    margin-top: 15px;

    tr td {
      padding: 5px 0 5px 0;
    }

    tr td:first-child {
      padding-right: 20px;
      font-weight: bold;
    }

  }

  ul.contact-info-list {
    list-style: none;
    margin: 15px 0 0 0;
    padding: 0;

    li {
      margin-bottom: 15px;

      i {
        color: $brand-tan;
        font-size: 1.3rem;
        margin-right: 10px;
      }

    }

  }

}

// Copyright & Social Media section
#wrapper-footer {
  padding: 0;
  text-align: center;

  @include media-breakpoint-up(md) {
    text-align: left;
  }

  .container {
    padding:30px 0;
    border-top: 4px solid $brand-light-tan;

    .social-media {
      text-align: center;

      @include media-breakpoint-up(md) {
        text-align: right;
        margin-top: -15px;
      }

      .social-media-links {

          a {
            font-size: 1.4rem;
            color: $brand-tan;
            display:inline-block;
            margin: 0 0 0 10px;
            padding: 10px;

            &:hover {
              color: lighten($brand-tan, 20);
            }

        }
      }
    }

  }
}
