// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from /sass/bootstrap/_variables.scss, paste it here and edit the value.
// As example you find one of the most important Bootstrap variable below: $brand-primary.
// Thats the ugly Bootstrap blue used for all the links, primary buttons etc.
// Just add your color code here, compile the theme.scss file to change this color everywhere

$brand-brown:           #40251a;
$brand-grey:            #333333;
$brand-green:           #909672;
$brand-tan:             #ac9866;
$brand-light-tan:       #d8d7bb;

$brand-primary:         $brand-brown;

$font-family-sans-serif:           'Open Sans', sans-serif;
$headings-font-family:             'Cinzel', serif;
$headings-font-weight:             400;

// Basics of a navbar
$navbar-height:                    60px;
$navbar-margin-bottom:             0px;
$navbar-border-radius:             0px;
