.component--menu {

  background-color: $brand-grey;
  padding: 50px 0;
  text-align: center;

  @include media-breakpoint-up(md) {
    .container {
      max-width: 800px;
    }
  }

  .menu-box {
    border-style: solid;
    border-width: 60px 30px 60px 30px;
    border-image: url("/wp-content/themes/bryans-wordpress-theme/images/bryans_marquee.svg") 60 30 60 30 stretch;
    padding: 0 20px;
    overflow: auto;

    @include media-breakpoint-up(md) {
      border-width: 117px 30px 117px 30px;
      border-image: url("/wp-content/themes/bryans-wordpress-theme/images/bryans_marquee.svg") 117 30 117 30 stretch;
    }
  }

  h2 {
    color: white;
    margin-bottom: 30px;
  }

  .item {
    margin-bottom: 30px;
  }

}
