.component--hero {

  background-color: #23140f;
  position: relative;
  padding: 50px 0;

  @include media-breakpoint-up(sm) {
    padding: 250px 0 40px 0;
  }

  .wallpaper {
    opacity: .25;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
  }

  .container {

    position: relative;
    margin:0 auto;

    h1.component--hero-title {
      background-color: $brand-light-tan;
      padding: 5px 10px;
      display: inline-block;
      border-left: 15px solid $brand-tan;
      font-size: 1.8rem;

      @include media-breakpoint-up(sm) {
        border-left: 25px solid $brand-tan;
        font-size: 2.5rem;
      }

    }

    .btn {
      margin: 15px 15px 0 0;
    }

  }

}

.component--hero.home--hero {

  .container {
    margin:80px auto 0 auto;

    @include media-breakpoint-up(sm) {
      margin:300px auto 0;
    }
  }

}
