body.page-template-page-contact {

    .gform_wrapper form {

      input, textarea {
        background-color: #efefef;
        border: 2px solid lighten($brand-tan, 20);

        &:focus {
          background-color: white;
          border-color: $brand-tan;
          outline: none;
        }
      }

      input[type=submit] {
        font-family: 'Cinzel', serif;
        border:3px solid $brand-tan;
        border-radius: 0;
        background-color: none;
        color: $brand-grey;
        padding: 10px 15px;

        &:hover {
          background-color: $brand-tan;
        }

      }

    }

}
